<h2 class="section-title">{{ isTodayFriday() ? "tonight's plan" : "friday night plan" }}</h2>
<p class="subheading">
    <ng-container *ngIf="isTodayFriday(); else showUpcoming">
        today: {{ today | date: 'fullDate' }}
    </ng-container>
    <ng-template #showUpcoming>
        upcoming: {{ upcomingFriday | date: 'fullDate' }}
    </ng-template>
</p>
<div class="table-wrapper">
    <table>
        <thead>
            <tr>
                <th class="time-column"><span class="material-symbols-outlined">schedule</span>time</th>
                <th><span class="material-symbols-outlined">emoji_objects</span>activity</th>
                <th><span class="material-symbols-outlined">location_on</span>location</th>
                <th class="remove-center"><span class="material-symbols-outlined">delete</span>remove</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of itinerary">
                <td class="time-column">
                    <ng-container *ngIf="row.id && editingField[row.id]?.['time']; else viewTime">
                        <input class="auto-width-input" [(ngModel)]="row.time"
                            (blur)="stopEditing(row.id!, 'time', row)"
                            (keydown.enter)="stopEditing(row.id!, 'time', row)" autofocus />
                    </ng-container>
                    <ng-template #viewTime>
                        <span tabindex="0" *ngIf="row.id" (click)="startEditing(row.id, 'time')"
                            (keydown.enter)="startEditing(row.id, 'time')" class="editable-cell pointer"
                            [class.empty]="!row.time">{{ row.time }}</span>
                    </ng-template>
                </td>
                <td>
                    <ng-container *ngIf="row.id && editingField[row.id]?.['activity']; else viewActivity">
                        <input class="auto-width-input" [(ngModel)]="row.activity"
                            (blur)="stopEditing(row.id!, 'activity', row)"
                            (keydown.enter)="stopEditing(row.id!, 'activity', row)" autofocus />
                    </ng-container>
                    <ng-template #viewActivity>
                        <span tabindex="0" *ngIf="row.id" (click)="startEditing(row.id, 'activity')"
                            (keydown.enter)="startEditing(row.id, 'activity')" class="editable-cell pointer"
                            [class.empty]="!row.activity">{{ row.activity || '' }}</span>
                    </ng-template>
                </td>
                <td>
                    <ng-container *ngIf="row.id && editingField[row.id]?.['location']; else viewLocation">
                        <input class="auto-width-input" [(ngModel)]="row.location"
                            (blur)="stopEditing(row.id!, 'location', row)"
                            (keydown.enter)="stopEditing(row.id!, 'location', row)" autofocus />
                    </ng-container>
                    <ng-template #viewLocation>
                        <span tabindex="0" *ngIf="row.id" (click)="startEditing(row.id, 'location')"
                            (keydown.enter)="startEditing(row.id, 'location')" class="editable-cell pointer"
                            [class.empty]="!row.location">{{ row.location || '' }}</span>
                    </ng-template>
                </td>
                <td>
                    <button class="delete-cell gray-text point" (click)="confirmDelete(row.id!)">x</button>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr *ngIf="!showAddRow">
                <td colspan="4">
                    <span class="material-symbols-outlined point gray-text" (click)="handleAddRowClick()">add</span>
                    <span class="gray-text point" (click)="handleAddRowClick()">add new row</span>
                </td>
            </tr>
            <tr *ngIf="showAddRow">
                <td><input class="auto-width-input padded-time" [(ngModel)]="newRow.time"
                        [size]="newRow.time.length || 4" (blur)="addRow(newRow)" (keydown.enter)="addRow(newRow)" />
                </td>
                <td><input class="auto-width-input padded-time" [(ngModel)]="newRow.activity"
                        [size]="newRow.activity.length || 8" (blur)="addRow(newRow)" (keydown.enter)="addRow(newRow)" />
                </td>
                <td><input class="auto-width-input padded-time" [(ngModel)]="newRow.location"
                        [size]="newRow.location.length || 8" (blur)="addRow(newRow)" (keydown.enter)="addRow(newRow)" />
                </td>
                <td><button class="delete-cell gray-text point" (click)="cancelAddRow()">x</button></td>
            </tr>
        </tfoot>
    </table>
</div>

<div class="reset-container" style="margin-top: 10px">
    <span class="material-symbols-outlined gray-text point" (click)="handleResetItineraryClick()">undo</span>
    <span class="gray-text point" (click)="handleResetItineraryClick()">reset</span>
</div>