<!-- Desktop Navbar -->
<div class="navbar-wrapper">
    <nav class="navbar desktop-nav">
        <a routerLink="/home" routerLinkActive="active-link">
            <span class="material-symbols-outlined">home</span>Home</a>
        <a routerLink="/itinerary" routerLinkActive="active-link">
            <span class="material-symbols-outlined">view_list</span>Itinerary</a>
        <a routerLink="/guests" routerLinkActive="active-link">
            <span class="material-symbols-outlined">wysiwyg</span>Guests</a>
        <a routerLink="/profile" routerLinkActive="active-link">
            <span class="material-symbols-outlined">person</span>Profile</a>
    </nav>

    <!-- Mobile Navbar -->
    <nav class="navbar mobile-nav">
        <a routerLink="/home" routerLinkActive="active-link">
            <span class="material-symbols-outlined">home</span>
        </a>
        <a routerLink="/itinerary" routerLinkActive="active-link">
            <span class="material-symbols-outlined">view_list</span>
        </a>
        <a routerLink="/guests" routerLinkActive="active-link">
            <span class="material-symbols-outlined">wysiwyg</span>
        </a>
        <a routerLink="/profile" routerLinkActive="active-link">
            <span class="material-symbols-outlined">person</span>
        </a>
    </nav>
</div>